<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:replace="common/head">

</head>
<body>
	<nav th:replace="common/nav"></nav>

	<div class="container text-center">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${list}" th:attr="id=${board.id}">
					<td th:text="${board.id}"></td>
					<td th:text="${board.title}"></td>
					<td th:text="${board.userId}"></td>
				</tr>
			</tbody>
		</table>

		


		<ul class="pagination">
		<li>
		<a th:if="${startPage} > 1"
		th:href="@{/board/(page=${startPage} -10)}">&lt;	
		</a>
		</li>
		<th:block th:each="pageNumber : ${#numbers.sequence(startPage,endPage)}">
		<!-- 이전 페이지 넘어가기 버튼 추가 -->
		
		
			<li th:class = "${page == pageNumber} ? active ">
			<!-- CLASS = "active" 현재 페이지 일때 -->
			<a th:href="@{/board/(page=${pageNumber})}" 
	 		th:text="${pageNumber}"><!-- 삼항연산자 -->
	 		</a>
		</th:block>
		<!--다음페이지 넘어가는 기능  -->
		<li>
		<a th:if ="${totalPage} > ${endPage}"
		   th:href="@{/board/(page=${startPage} +10)}">&gt;	
		</a>
		</li>
		
		</ul>


		<button class="btn btn-primary btn-block" id="write">글쓰기</button>
	</div>
	</div>


	<footer th:replace="common/footer"> </footer>
	<script>
		$("#write").click(function() {
			location = "/board/write";
			return false;
		});
	</script>

</body>
</html>